extends formlayout

block content
  form(method="post", name="userform", action="/onboard/submit").indicator
    .form-page(data-section="1")
      
      .ui.modal
        p Please fill out the form correctly.
      .ui.form.segment
        
        .two.fields
          .field
            label First name
              .ui.left.labeled.icon.input
                input(type="text", placeholder="First name", name="firstName", value="#{user.firstName}")
                .ui.corner.label
                  i.icon.asterisk
          .field
            label Last name
              .ui.left.labeled.icon.input
                input(type="text", placeholder="Last name", name="lastName", value="#{user.lastName}")
                .ui.corner.label
                  i.icon.asterisk
        .two.fields
          .field
            label E-mail
              .ui.left.labeled.icon.input
                input(type="text", placeholder="E-mail", name="email", value="#{user.email}")
                .ui.corner.label
                  i.icon.asterisk
          .field
            //- label Password
            //-   .ui.left.labeled.icon.input
            //-     input(type="password", placeholder="Password", name="password")
            //-     .ui.corner.label
            //-       i.icon.asterisk
        .field
          label Sex    
            .ui.selection.dropdown
              input(type="hidden", name="gender", value="#{user.sex}")
              .text #{user.sex}
              i.dropdown.icon
              .menu
                if (user.sex === 'male')
                  .item(data-value="male" class="active") Male
                  .item(data-value='female') Female
                else
                  .item(data-value="male") Male
                  .item(data-value='female' class="active") Female
        .field
          label D/O/B
            .ui.left.labeled.icon.input
              input(type="text", placeholder="MM/DD/YYYY", name="birthdate", value="06/25/1988")
              .ui.corner.label
                i.icon.asterisk
        .field
          label Address Line 1
            .ui.left.labeled.icon.input
              input(type="text", placeholder="Address Line 1", name="address_line_1", value="123 Walnut St.")
              .ui.corner.label
                i.icon.asterisk
        .field
          label Address Line 2
            .ui.left.labeled.icon.input
              input(type="text", placeholder="Address Line 2", name="address_line_2")
        .three.fields
          .field
            label City
              .ui.left.labeled.icon.input
                input(type="text", placeholder="City", name="address_city", value="Boulder")
                .ui.corner.label
                  i.icon.asterisk
          .field
            label State
              .ui.left.labeled.icon.input
                input(type="text", placeholder="State", name="address_state", value="CO")
                .ui.corner.label
                  i.icon.asterisk
          .field
            label ZIP Code
              .ui.left.labeled.icon.input
                input(type="text", placeholder="ZIP Code", name="address_zip", value="80302")
                .ui.corner.label
                  i.icon.asterisk
        
        .form-buttons
          .ui.small.steps.teal
            .ui.step.active Step 1
            .ui.step.disabled Step 2
            .ui.step.disabled Step 3
            .ui.step.disabled Step 4
          a.ui.positive.button.next Next
    .form-page(data-section="2")
      
      .ui.form.segment 
        
        h2 Please select some individuals you admire from the following list.
        .ui.grid
          .four.wide.column
            .ui.checkbox
              input(type="checkbox", name="celeb[oprah_winfrey]") 
              label Oprah Winfrey
            .ui.checkbox
              input(type="checkbox", name="celeb[bill_clinton]") 
              label Bill Clinton
            .ui.checkbox
              input(type="checkbox", name="celeb[anderson_cooper]") 
              label Anderson Cooper
            .ui.checkbox
              input(type="checkbox", name="celeb[steve_jobs]") 
              label Steve Jobs
            .ui.checkbox
              input(type="checkbox", name="celeb[jk_rowling]") 
              label J.K. Rowling
          .four.wide.column
            .ui.checkbox
              input(type="checkbox", name="celeb[sonia_sotomayor]") 
              label Sonia Sotomayor
            .ui.checkbox
              input(type="checkbox", name="celeb[gwyneth_paltrow]") 
              label Gwyneth Paltrow
            .ui.checkbox
              input(type="checkbox", name="celeb[mark_cuban]") 
              label Mark Cuban
            .ui.checkbox
              input(type="checkbox", name="celeb[david_foster_wallace]") 
              label David Foster Wallace
            .ui.checkbox
              input(type="checkbox", name="celeb[julia_roberts]") 
              label Julia Roberts
          .four.wide.column
            .ui.checkbox
              input(type="checkbox", name="celeb[jennifer_lawrence]") 
              label Jennifer Lawrence
            .ui.checkbox
              input(type="checkbox", name="celeb[michelle_obama]") 
              label Michelle Obama
            .ui.checkbox
              input(type="checkbox", name="celeb[tony_hawk]") 
              label Tony Hawk
            .ui.checkbox
              input(type="checkbox", name="celeb[sheryl_sandberg]") 
              label Sheryl Sandberg
            .ui.checkbox
              input(type="checkbox", name="celeb[steve_jobs]") 
              label Elon Musk
          .four.wide.column
            .ui.checkbox
              input(type="checkbox", name="celeb[jay-z]") 
              label Jay-Z
            .ui.checkbox
              input(type="checkbox", name="celeb[malcolm_gladwell]") 
              label Malcolm Gladwell
            .ui.checkbox
              input(type="checkbox", name="celeb[stephenie_meyer]") 
              label Stephenie Meyer
            .ui.checkbox
              input(type="checkbox", name="celeb[hillary_clinton]") 
              label Hillary Clinton
            .ui.checkbox
              input(type="checkbox", name="celeb[warren_buffett]") 
              label Warren Buffett
          
          .form-buttons
            .ui.small.steps
              .ui.step.disabled Step 1
              .ui.step.active Step 2
              .ui.step.disabled Step 3
              .ui.step.disabled Step 4
            a.ui.positive.button.prev Previous
            a.ui.positive.button.next Next
    .form-page(data-section='3')
      
      -for (var i=0; i<passages.length/4; i++)
        .ui.form.segment.passage-div(data-passage='#{i}')
          
          h2 Please indicate how you feel about the following passages. This will help us understand which kinds of books you might like to receive.
          .ui.grid
            .sixteen.wide.column
              .row
                .passage
                  .passage-buttons
                    .ui.buttons
                      button.ui.button.negative.dislike Dislike
                      .or
                      button.ui.button.active.no-opinion No opinion
                      .or
                      button.ui.button.positive.like Like
                      input(type="hidden", value='0', name="passages[#{passages[4*i].title}]")
                  p.no-opinion #{passages[4*i].passage}
                    
                .passage
                  .passage-buttons
                    .ui.buttons
                      button.ui.button.negative.dislike Dislike
                      .or
                      button.ui.button.active.no-opinion No opinion
                      .or
                      button.ui.button.positive.like Like
                      input(type="hidden", value='0', name="passages[#{passages[4*i+1].title}]")
                  p.no-opinion #{passages[4*i+1].passage}
              .row
                .passage
                  .passage-buttons
                    .ui.buttons
                      button.ui.button.negative.dislike Dislike
                      .or
                      button.ui.button.active.no-opinion No opinion
                      .or
                      button.ui.button.positive.like Like
                      input(type="hidden", value='0', name="passages[#{passages[4*i+2].title}]")
                  p.no-opinion #{passages[4*i+2].passage}
                  
                .passage
                  .passage-buttons
                    .ui.buttons
                      button.ui.button.negative.dislike Dislike
                      .or
                      button.ui.button.active.no-opinion No opinion
                      .or
                      button.ui.button.positive.like Like
                      input(type="hidden", value='0', name="passages[#{passages[4*i+3].title}]")
                  p.no-opinion #{passages[4*i+3].passage}
            
            .form-buttons
              
              .ui.prev-passage.button.positive Previous
              if i < passages.length/4 - 1
                .ui.small.steps
                  .ui.step.disabled Step 1
                  .ui.step.disabled Step 2
                  .ui.step.active Step 3
                  .ui.step.disabled Step 4
                .ui.next-passage.button.positive Next
              if i === passages.length/4 - 1
                .ui.small.steps
                  .ui.step.disabled Step 1
                  .ui.step.disabled Step 2
                  .ui.step.disabled Step 3
                  .ui.step.active Step 4
                input(type="submit", value="Submit").huge.ui.right.orange.button      
block pagescripts
  script(src='/scripts/form.js')            
