extends userlayout

block content
    h1.user-title Welcome to BookBox, #{user.firstName}
    p Here are some of the books we have coming up for you in the next couple of months. 
    ul 
        li If you see something you don't want, let us know by clicking the red thumbs down button. 
        li If you see something you particuarly like, click the green thumbs up button.
        li If you can't wait for us to send you something, you can buy it on Amazon! 
    p Happy reading!
    .dialog-div.like-dialog-div
        .ui.dialog.like-dialog
            p Thanks for letting us know. We'll make sure to include more books like this.
            button.addLike.ui.button.positive OK
    .dialog-div.dislike-dialog-div
        .ui.dialog.dislike-dialog
            p Why don't you want this book?
            button.addRead.ui.button.positive I already own it or have read it
            button.addDislike.ui.button.negative It doesn't seem like something I'd like
    div.removed.template
        p Thanks for letting us know. You will not receive:
        p.title
    .rec-container.masonry
        each book in books
            .rec(data-id="#{book._id}")
                .rec-hover
                    a.ui.button.positive.like
                        i.thumbs.up.icon
                    a.ui.button.negative.dislike
                        i.thumbs.down.icon
                    if book.amazonURL
                        a.ui.button.amazon(href="#{book.amazonURL}", target="blank") Buy on Amazon
                if book.picture
                    img(src="#{book.picture}").cover-img
                else
                    img(src="/images/notfound.jpg").cover-img
                h2.title #{book.Title}
                p.author By #{book.Author}
block pagescripts
    script(src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.1.2/masonry.pkgd.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.0.4/jquery.imagesloaded.min.js")    
    script(src="/scripts/userpage.js")